$color-blue-light: #83C1E8;
$color-blue: #58A9DC;
$color-blue-dark: #0082C8;
$color-white: #ffffff;
$color-grey: #F8F8F8;
$color-black: #1E2533;

// images
$bgAnalyticsBig: url('../assets/images/landscape/Analytics.jpg');
$bgConsultingBig: url('../assets/images/landscape/Consulting.jpg');
$bgInfraBig: url('../assets/images/landscape/INFRA.jpg');
$bgHeaderBig: url('../assets/images/header_bg_large.jpg');

// Images Landscape
$bgAnalyticsLandscapeJpeg1920w: url('../assets/images/landscape/Analytics.1920w-1080h.jpeg');
$bgAnalyticsLandscapeWebp1920w: url('../assets/images/landscape/Analytics.1920w-1080h.webp');
$bgAnalyticsLandscapeJpeg1440w: url('../assets/images/landscape/Analytics.1440w-900h.jpeg');
$bgAnalyticsLandscapeWebp1440w: url('../assets/images/landscape/Analytics.1440w-900h.webp');
$bgAnalyticsLandscapeJpeg950w: url('../assets/images/landscape/Analytics.950w-450h.jpeg');
$bgAnalyticsLandscapeWebp950w: url('../assets/images/landscape/Analytics.950w-450h.webp');

$bgConsultingLandscapeJpeg1920w: url('../assets/images/landscape/Consulting.1920w-1080h.jpeg');
$bgConsultingLandscapeWebp1920w: url('../assets/images/landscape/Consulting.1920w-1080h.webp');
$bgConsultingLandscapeJpeg1440w: url('../assets/images/landscape/Consulting.1440w-900h.jpeg');
$bgConsultingLandscapeWebp1440w: url('../assets/images/landscape/Consulting.1440w-900h.webp');
$bgConsultingLandscapeJpeg950w: url('../assets/images/landscape/Consulting.950w-450h.jpeg');
$bgConsultingLandscapeWebp950w: url('../assets/images/landscape/Consulting.950w-450h.webp');

$bgInfraLandscapeJpeg1920w: url('../assets/images/landscape/INFRA.1920w-1080h.jpeg');
$bgInfraLandscapeWebp1920w: url('../assets/images/landscape/INFRA.1920w-1080h.webp');
$bgInfraLandscapeJpeg1440w: url('../assets/images/landscape/INFRA.1440w-900h.jpeg');
$bgInfraLandscapeWebp1440w: url('../assets/images/landscape/INFRA.1440w-900h.webp');
$bgInfraLandscapeJpeg950w: url('../assets/images/landscape/INFRA.950w-450h.jpeg'); // 950w 1200h
$bgInfraLandscapeWebp950w: url('../assets/images/landscape/INFRA.950w-450h.webp');

// Images Portrait
$bgAnalyticsProtraitJpeg1920h: url('../assets/images/portrait/Analytics.1080w-1920h.jpeg');
$bgAnalyticsProtraitWebp1920h: url('../assets/images/portrait/Analytics.1080w-1920h.webp');
$bgAnalyticsProtraitJpeg1440h: url('../assets/images/portrait/Analytics.900w-1440h.jpeg');
$bgAnalyticsProtraitWebp1440h: url('../assets/images/portrait/Analytics.900w-1440h.webp');
$bgAnalyticsProtraitJpeg950h: url('../assets/images/portrait/Analytics.450w-950h.jpeg');
$bgAnalyticsProtraitWebp950h: url('../assets/images/portrait/Analytics.450w-950h.webp');

$bgConsultingProtraitJpeg1920h: url('../assets/images/portrait/Consulting.1080w-1920h.jpeg');
$bgConsultingProtraitWebp1920h: url('../assets/images/portrait/Consulting.1080w-1920h.webp');
$bgConsultingProtraitJpeg1440h: url('../assets/images/portrait/Consulting.900w-1440h.jpeg');
$bgConsultingProtraitWebp1440h: url('../assets/images/portrait/Consulting.900w-1440h.webp');
$bgConsultingProtraitJpeg950h: url('../assets/images/portrait/Consulting.450w-950h.jpeg');
$bgConsultingProtraitWebp950h: url('../assets/images/portrait/Consulting.450w-950h.webp');

$bgInfraProtraitJpeg1920h: url('../assets/images/portrait/INFRA.1080w-1920h.jpeg');
$bgInfraProtraitWebp1920h: url('../assets/images/portrait/INFRA.1080w-1920h.webp');
$bgInfraProtraitJpeg1440h: url('../assets/images/portrait/INFRA.900w-1440h.jpeg');
$bgInfraProtraitWebp1440h: url('../assets/images/portrait/INFRA.900w-1440h.webp');
$bgInfraProtraitJpeg950h: url('../assets/images/portrait/INFRA.450w-950h.jpeg');
$bgInfraProtraitWebp950h: url('../assets/images/portrait/INFRA.450w-950h.webp');