@import "../../shared/variables";
:host{
    display: block;
    width: 100%;
    height: 100%;
  }
  
.impressum {
    margin: 0 auto;
    padding-block: 2rem;
    padding-inline: 3rem;
    max-width: 1440px;
    flex: 1 1 auto;
}

.app-footer{
    color: $color-black;
}


/** 1440px|90em oder schmaler */
@media (max-width: 90em) {
    .impressum {
        padding-inline: 2rem;
        max-width: 992px;
    }
}

/** 992px |62em  oder schmaler */
@media (max-width: 62em) {
    .impressum {
        padding-inline: 1rem;
        max-width: 768px;
    }
}

/** 768px |48em oder schmaler */
@media (max-width: 48em) {
    .impressum {
        max-width: 640px;
    }
}