@use 'sass:color';
@import "../../shared/variables";

:host {
  position: relative;
  display: grid;
  height: 100%;
  width: 100%;

  @media (orientation: landscape) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  @media (orientation: portrait) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

.box{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: clamp(18rem, 80vw, 25rem);
  padding: 2rem;
  border-radius: 1rem;
  border: 0.125rem solid color.adjust($color-white, $alpha: -0.75);
  background-color: rgba(0,0,0,0.5);
  transition: all ease-in-out 175ms;
  cursor: pointer;

  &:hover{
    transition: all ease-in-out 175ms;
    background-color: rgba(0,0,0,0.75);
  }
}

.box_logo{
  height: 1.5rem;
}

.box_border{
  height: 0.125rem;
  width: 100%;
  background-color: $color-white;
}

.box_title{
  font-family: 'OpenSans';
  font-size: 1.25rem;
  color: $color-white;
  letter-spacing: 0.125rem;
  text-align: center;
  width: 100%;
}

.box_icon{
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  height: 2rem;
  width: 2rem;
  object-fit: contain;
  object-position: center center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg_img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.analytics {
  background-color: $color-blue-dark;
  background-image: $bgAnalyticsBig;

  @media (orientation: portrait), (max-width: 950px) {
    background-image: $bgAnalyticsProtraitJpeg1920h;
  }
  @media (orientation: portrait), (max-width: 1440px) {
    background-image: $bgAnalyticsLandscapeJpeg1440w;
  }
  @media (orientation: portrait), (max-width: 1920px) {
    background-image: $bgAnalyticsLandscapeJpeg1920w;
  }
  @media (orientation: landscape), (max-width: 450px) {
    background-image: $bgAnalyticsProtraitJpeg950h;
  }
  @media (orientation: landscape), (max-width: 900px) {
    background-image: $bgAnalyticsProtraitJpeg1440h;
  }
  @media (orientation: landscape), (max-width: 1080px) {
    background-image: $bgAnalyticsProtraitJpeg1920h;
  }
}

.consulting {
  background-color: $color-blue;
  background-image: $bgConsultingBig;
  @media (orientation: portrait), (max-width: 950px) {
    background-image: $bgConsultingLandscapeJpeg950w;
  }
  @media (orientation: portrait), (max-width: 1440px) {
    background-image: $bgConsultingLandscapeJpeg1440w;
  }
  @media (orientation: portrait), (max-width: 1920px) {
    background-image: $bgConsultingLandscapeJpeg1920w;
  }

  @media (orientation: landscape), (max-width: 450px) {
    background-image: $bgConsultingProtraitJpeg950h;
  }
  @media (orientation: landscape), (max-width: 900px) {
    background-image: $bgConsultingProtraitJpeg1440h;
  }
  @media (orientation: landscape), (max-width: 1080px) {
    background-image: $bgConsultingProtraitJpeg1920h;
  }
}

.infra {
  background-color: $color-blue-light;
  background-image: $bgInfraBig;
  @media (orientation: portrait), (max-width: 950px) {
    background-image: $bgInfraLandscapeJpeg950w;
  }
  @media (orientation: portrait), (max-width: 1440px) {
    background-image: $bgInfraLandscapeJpeg1440w;
  }
  @media (orientation: portrait), (max-width: 1920px) {
    background-image: $bgInfraLandscapeJpeg1920w;
  }

  @media (orientation: landscape), (max-width: 450px) {
    background-image: $bgInfraProtraitJpeg950h;
  }
  @media (orientation: landscape), (max-width: 900px) {
    background-image: $bgInfraProtraitJpeg1440h;
  }
  @media (orientation: landscape), (max-width: 1080px) {
    background-image: $bgInfraProtraitJpeg1920h;
  }
}

app-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: $color-grey;
}
