<div class="wrapper bg_img analytics">
  <div class="box" (click)="openAnalytics()">
    <img
      class="box_logo"
      src="../../assets/images/E_ANALYTICS.png"
      alt="e.infra"
    />
    <div class="box_border"></div>
    <span class="box_title">IoT-Plattform</span>
    <img
      class="box_icon"
      src="../../assets/images/click_gruppe.png"
      alt="click-icon"
    />
  </div>
</div>
<div class="wrapper bg_img consulting">
  <div class="box" (click)="openConsulting()">
    <img
      class="box_logo"
      src="../../assets/images/E_CONSULTING.png"
      alt="e.infra"
    />
    <div class="box_border"></div>
    <span class="box_title">Nachhaltigkeitsplattform</span>
    <img
      class="box_icon"
      src="../../assets/images/click_gruppe.png"
      alt="click-icon"
    />
  </div>
</div>
<div class="wrapper bg_img infra">
  <div class="box" (click)="openInfra()">
    <img class="box_logo" src="../../assets/images/E_INFRA.png" alt="e.infra" />
    <div class="box_border"></div>
    <span class="box_title">e-infra.com</span>
    <img
      class="box_icon"
      src="../../assets/images/click_gruppe.png"
      alt="click-icon"
    />
  </div>
</div>

<app-footer></app-footer>
