<main class="main">
  <div class="wrapper bg__img analytics">
    <a
      class="link"
      href="https://eanalytics.e-infra.com/"
      target="_blank"
      title="E.ANALYTICS"
    >
      <img
        class="img__btn"
        src="../../assets/images/E_Analytics.png"
        alt="analytics"
      />
    </a>
  </div>
  <div class="wrapper bg__img consulting">
    <a
      class="link"
      href="https://servicehub.e-infra.com/nachhaltigkeit/"
      target="_blank"
      title="E.CONSULTING"
    >
      <img
        class="img__btn"
        src="../../assets/images/E_Consulting.png"
        alt="consulting"
      />
    </a>
  </div>
  <div class="wrapper bg__img infra">
    <a
      class="link"
      href="https://www.e-infra.com/"
      target="_blank"
      title="E.INFRA"
    >
      <img
        class="img__btn"
        src="../../assets/images/E_INFRA.png"
        alt="analytics"
      />
    </a>
  </div>
</main>

<app-footer></app-footer>
